@use "./variables";
@use "./mixins";

.index-bestsellers-contenedor, .index-sale-contenedor, .lenceria-main, .prendas-ext-main, .accesorios-main{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 0.1rem;
  justify-content: space-around;
}

article{
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
  padding: 1rem;
  text-align: center;
  flex-direction: column;   
  align-items: center;  
  border-radius: 0.5rem;
}

article img {
    @include mixins.img(8rem, 11rem);           
    border-radius: 0.5rem;
}

article h3 {
  @include mixins.estilosTipografia(1rem, 500, variables.$primario, 0.3rem 0);
}

article p {
  @include mixins.estilosTipografia(0.9rem, 450, variables.$neutroOscuro, 0rem 0rem 0.3rem 0rem);
}

article button {
@include mixins.boton(variables.$acento, none, pointer);
@include mixins.estilosTipografia(1rem, 400, variables.$neutroClaro, 0rem); 
@include mixins.hover-color(variables.$neutroClaro) {
    background-color: variables.$primario;
  }
}