@use "./variables";
@use "./mixins";

.bg-body-tertiary{
  background-color:  variables.$acento !important;
}

.navbar-brand{
  color: variables.$primario;
  @include mixins.hover-color(variables.$neutroClaro) {
    background-color: none;
  }
}

.nav-link{
  @include mixins.estilosTipografia(1.3rem,450, variables.$neutroClaro,0rem);
  @include mixins.hover-color(variables.$primario) {
    background-color: none;
  }
}

.search-icon{
  color: variables.$neutroClaro;
}

.btn-search {
    @include mixins.boton(transparent, 2px solid variables.$neutroClaro, cursor);
    @include mixins.hover-color(variables.$neutroClaro) {
    background-color: variables.$primario;
  }
}