@use "./variables";
@use "./mixins";

.index-nueva-coleccion{
    background-color: variables.$primario;  
    align-items: center;     
    text-align: center;    
    padding: 1rem 2rem;
}

.index-nueva-coleccion-h2{
    @include mixins.estilosTipografia(1.6rem, 600, variables.$secundario, 0.8rem 0rem); 
    text-align: center;
}

.index-nueva-coleccion-img{
    @include mixins.img(auto, 20rem);
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.index-nueva-coleccion-p{
    text-align: center;
    @include mixins.estilosTipografia(1.2rem, 500, variables.$neutroClaro, 0.5rem 0rem); 
}

.index-nueva-coleccion-btn{
    @include mixins.boton(variables.$acento, none, pointer);
    @include mixins.estilosTipografia(1rem, 450, variables.$neutroClaro, 0rem); 
    @include mixins.hover-color(variables.$primario) {
    background-color: variables.$neutroClaro;
  }
}