@use "./body";
@use "./header";
@use "./indexNuevaColeccion";
@use "./cards";
@use "./indexBestsellers";
@use "./indexSale";
@use "./indexNewsletter";
@use "./footer";
@use "./h2PagesNavBar";
@use "./filtros";